{{#setup-rr as |routeStr pathStr|}}
  <div>
    <h2>Current Route Recognizer (v0.1.11) </h2>
    {{recognize-route routeStr=routeStr pathStr=pathStr useNew=false}}
  </div>

  <div>
    <h2>New Route Recognizer (<a href='https://github.com/bantic/route-recognizer/commit/5bf131142512bea0c241881cba15e1b8a9096d39'>5bf1311</a>)</h2>
    {{recognize-route routeStr=routeStr pathStr=pathStr useNew=true}}
  </div>
{{/setup-rr}}
